h2 {
    padding-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    text-align: left;
}

td:nth-child(1), th:nth-child(1) {
    width: 35%;
}

td:nth-child(2), th:nth-child(2) {
    width: 35%;
}

.btn {
    border-radius: 10px;
}

