<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <title>Footer</title>

  <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />

</head>

<body>

  <footer th:fragment="footer" class="footer">
    <div class="container text-center">
      <span>&copy; 2024 Biblioteca. Todos os direitos reservados.</span>
    </div>
  </footer>

  <script type="module" src="../../static/js/script.js" th:src="@{/js/script.js}"></script>

</body>

</html>