<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../../static/css/3rd/bootstrap.min.css" th:href="@{/css/3rd/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" media="screen" />
</head>
<body class="d-flex align-items-center" style="min-height: 100vh;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Login</h2>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="mt-4 btn btn-primary mx-auto d-block">Login</button>
                <p class="mt-3 text-center">Don't have an account? <a href="../biblioteca/usuario/cadastro.html" th:href="@{/usuario/new}">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>
<script src="../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>
</body>
</html>