<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />

</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../layout/home.html" th:href="@{/}" style=" margin-left: 40px;">Biblioteca</a>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Empréstimos</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/emprestimo/list.html" th:href="@{/emprestimo}">Listar todos os empréstimos</a>
                            <a class="dropdown-item" href="../biblioteca/emprestimo/abertos/list.html" th:href="@{/emprestimo/aberto}">Empréstimos abertos</a>
                            <a class="dropdown-item" href="../biblioteca/emprestimo/edit.html" th:href="@{/emprestimo/new}">Novo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Livros</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/livro/list.html" th:href="@{/livro}">Listar livros</a>
                            <a class="dropdown-item" href="../biblioteca/livro/edit.html" th:href="@{/livro/new}">Cadastrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Autores</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/autor/list.html" th:href="@{/autor}">Listar autores</a>
                            <a class="dropdown-item" href="../biblioteca/autor/edit.html" th:href="@{/autor/new}">Cadastrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Editoras</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/editora/list.html" th:href="@{/editora}">Listar editoras</a>
                            <a class="dropdown-item" href="../biblioteca/editora/edit.html" th:href="@{/editora/new}">Cadastrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Funcionários</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/funcionario/list.html" th:href="@{/funcionario}">Listar funcionários</a>
                            <a class="dropdown-item" href="../biblioteca/funcionario/edit.html" th:href="@{/funcionario/new}">Cadastrar</a>
                        </div>
                    </li>
                </ul>
                <a class="d-flex" href="#" id="menu-toogle">
                    <svg class="bi" fill="currentColor" height="26" width="26" style="margin-right: 40px;">
                        <use th:attr="'xlink:href'=@{/images/3rd/bootstrap-icons.svg#person-circle}" xlink:href="../../static/images/3rd/bootstrap-icons.svg#person-circle" />
                    </svg>
                </a>

                <div id="sidebar">
                    <div class="container">
                        <div class="card menu">
                            <div class="card-header text-center">
                                Usuário
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-form-label label">Username:</label>
                                    <input id="username" type="text" class="form-control input blocked" disabled>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label label">Role:</label>
                                    <input id="role" type="text" class="form-control input blocked" disabled>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label label">Email:</label>
                                    <input id="email" type="email" class="form-control input blocked" disabled>
                                </div>
                                <div class="mb-3 text-center d-flex justify-content-center">
                                    <a class="btn btn-primary btn-mini m-2 radius editar-usuario" title="Editar usuário">Editar</a>
                                    <button class="btn btn-danger btn-mini m-2 radius" title="Sair do sistema">Sair</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script type="module" src="../../static/js/script.js" th:src="@{/js/script.js}"></script>

</body>

</html>