<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

    <link rel="stylesheet" href="../../static/css/3rd/bootstrap.min.css" media="screen" th:href="@{/css/3rd/bootstrap.min.css}">

</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../layout/home.html" th:href="@{/}" style=" margin-left: 40px;">Biblioteca</a>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Empréstimos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Livros</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/livro/list.html" th:href="@{/livro}">Listar livros</a>
                            <a class="dropdown-item" href="../biblioteca/livro/edit.html" th:href="@{/livro/new}">Cadastrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Autores</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Listar autores</a>
                            <a class="dropdown-item" href="#">Cadastrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Editoras</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/editora/list.html" th:href="@{/editora}">Listar editoras</a>
                            <a class="dropdown-item" href="../biblioteca/editora/edit.html" th:href="@{/editora/new}">Cadastrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Funcionários</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../biblioteca/funcionario/list.html" th:href="@{/funcionario}">Listar funcionários</a>
                            <a class="dropdown-item" href="../biblioteca/funcionario/edit.html" th:href="@{/funcionario/new}">Cadastrar</a>
                        </div>
                    </li>
                </ul>
                <a class="d-flex" href="#">
                    <svg class="bi" fill="currentColor" height="26" width="26" style="margin-right: 40px;">
                        <use th:attr="'xlink:href'=@{/images/3rd/bootstrap-icons.svg#person-circle}" xlink:href="../static/images/3rd/bootstrap-icons.svg#person-circle" />
                    </svg>
                </a>
            </div>
        </div>
    </nav>

    <script src="../static/js/3rd/popper.min.js" th:src="@{/js/3rd/popper.min.js}"></script>
    <script src="../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>

</body>

</html>