<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Funcionário</title>

    <link href="../../../static/css/3rd/bootstrap.min.css" th:href="@{/css/3rd/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../../../static/css/geral/cursor.css" th:href="@{/css/geral/cursor.css}" rel="stylesheet" media="screen">
    <link href="../../../static/css/geral/button.css" th:href="@{/css/geral/button.css}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../../static/css/biblioteca/funcionario/style.css" th:href="@{/css/biblioteca/funcionario/style.css}" media="screen">
    <link href="../../static/css/geral/footer.css" th:href="@{/css/geral/footer.css}" rel="stylesheet" media="screen" />

</head>

<body>
    <div th:replace="~{ layout/navbar :: navbar}"></div>

    <div class="container mt-5">
        <h2 th:text="${(funcionario.id == null) ? 'Cadastrar Funcionário' : 'Editar Funcionário'}" class="mb-4">Cadastro de Funcionário</h2>

        <form method="post" th:action="@{/funcionario/new}">

            <input type="hidden" name="id" th:value="${funcionario.id}">

            <div class="form-group">
                <label class="fw-bold" for="nome">Nome Completo:</label>
                <input type="text" id="nome" name="nome" th:value="${funcionario.nome}" class="form-control" placeholder="Nome Completo..." required>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="dataNascimento">Data Nascimento:</label>
                    <input type="date" id="dataNascimento" name="dataNascimento" th:value="${funcionario.dataNascimento}" class="form-control" required>
                </div>
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="sexo">Gênero:</label>
                    <select class="form-control" name="sexo" id="sexo">
                        <option selected disabled value="">Selecione o gênero</option>
                        <option value="Masculino" th:selected="${funcionario.sexo == 'Masculino'}">Masculino</option>
                        <option value="Feminino" th:selected="${funcionario.sexo == 'Feminino'}">Feminino</option>
                        <option value="Nao_informado" th:selected="${funcionario.sexo == 'Nao_informado'}">Prefiro não dizer</option>
                        <option value="Outro" th:selected="${funcionario.sexo == 'Outro'}">Outro</option>
                    </select>

                </div>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" placeholder="999.999.999-99" maxlength="14" th:value="${funcionario.cpf}" class="form-control" required>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="endereco">Endereço Completo (Rua/Avenida, Nº - Bairro - Cidade/UF):</label>
                <input type="text" id="endereco" name="endereco" th:value="${funcionario.endereco}" class="form-control" placeholder="Endereço..." required>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="telefone">Telefone:</label>
                    <input type="text" id="telefone" name="telefone" placeholder="(99) 9999-9999" maxlength="15" th:value="${funcionario.telefone}" class="form-control" required>
                </div>
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="descricao">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="exemplo@mail.com.br" th:value="${funcionario.email}" class="form-control" required>
                </div>
            </div>

            <hr class="mt-4">

            <div class="row">
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="username">Username:</label>
                    <input type="text" id="username" name="username" th:value="${funcionario.username}" class="form-control" placeholder="Username..." required>
                </div>
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="password">Senha:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Senha..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="cargo">Cargo:</label>
                    <input class="form-control blocked" type="text" id="cargo" name="cargo" readonly placeholder="Atendente">
                </div>
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="dataCadastro">Data Admissão:</label>
                    <input class="form-control blocked" type="date" id="dataCadastro" name="dataCadastro" th:value="${funcionario.dataCadastro}" readonly>
                </div>
            </div>

            <div class="form-group mt-3 d-flex justify-content-end ">
                <input type="submit" value="Salvar" class="btn btn-primary m-2 radius">
                <input th:if="${funcionario.id == null}" type="reset" value="Limpar" class="btn btn-dark m-2 radius">
                <a class="voltar btn btn-secondary m-2 radius" href="list.html" title="Cancelar cadastro" 
                th:href="${funcionario.id != null} ? @{/funcionario/{id}(id=${funcionario.id})} : @{/funcionario}">Cancelar</a>

            </div>
        </form>
    </div>

    <div th:replace="~{ layout/footer :: footer}"></div>

    <script src="../../../static/js/3rd/popper.min.js" th:src="@{/js/3rd/popper.min.js}"></script>
    <script src="../../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>
    <script src="../../../static/js/biblioteca/funcionario/edit.js" th:src="@{/js/biblioteca/funcionario/edit.js}"></script>

</body>

</html>