<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Cadastro Empréstimo</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" media="screen">
    <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>

<body>
    <div th:replace="~{ layout/navbar :: navbar}"></div>

    <div class="container mt-5">
        <h2 th:text="${(emprestimo.id == null) ? 'Cadastrar Empréstimo' : 'Editar Empréstimo'}" class="mb-4">Cadastro de Empréstimo</h2>

        <form method="post" th:action="@{/emprestimo/new}">

            <input type="hidden" name="id" th:value="${emprestimo.id}">

            <div class="form-group">
                <label class="fw-bold" for="livroId">Livro:</label>
                <select id="livroId" name="livroId" class="form-control" required>
                    <option th:selected="${emprestimo.livroId == null}" th:text="${emprestimo.livroId == null ? 'Selecione um livro' : livro.text}" th:value="${emprestimo.livroId == null ? null : livro.id}">
                    </option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="userId">Cliente:</label>
                <select id="userId" name="userId" class="form-control" required>
                    <option th:selected="${emprestimo.userId == null}" th:text="${emprestimo.userId == null ? 'Selecione um cliente (pelo cpf)' : user.text}" th:value="${emprestimo.userId == null ? null : user.id}">
                    </option>
                </select>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="funcionarioId">Funcionário:</label>
                <select id="funcionarioId" name="funcionarioId" class="form-control" required>
                    <option th:selected="${emprestimo.funcionarioId == null}" th:text="${emprestimo.funcionarioId == null ? 'Selecione um funcionario' : funcionario.text}" th:value="${emprestimo.funcionarioId == null ? null : funcionario.id}">
                    </option>
                </select>
            </div>

            <hr class="mt-4">

            <div class="row">
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="dataEmprestimo">Data Empréstimo:</label>
                    <input type="date" id="dataEmprestimo" name="dataEmprestimo" th:value="${emprestimo.dataEmprestimo}" class="form-control blocked" readonly>
                </div>
                <div class="col-md-6 form-group mt-2">
                    <label class="fw-bold" for="dataDevolucao">Data Máxima Devolução:</label>
                    <input type="date" id="dataDevolucao" name="dataDevolucao" th:value="${emprestimo.dataDevolucao}" class="form-control blocked" readonly>
                </div>
            </div>

            <div class="form-group mt-3 d-flex justify-content-end ">
                <input type="submit" value="Salvar" class="btn btn-primary m-2 radius">
                <input th:if="${emprestimo.id == null}" type="reset" value="Limpar" class="btn btn-dark m-2 radius">
                <a class="btn btn-secondary m-2 radius" href="list.html" title="Cancelar cadastro" th:href="${emprestimo.id != null} ? @{/emprestimo/{id}(id=${emprestimo.id})} : @{/emprestimo}">Cancelar</a>
            </div>
        </form>
    </div>

    <script type="module" src="../../../static/js/script.js" th:src="@{/js/script.js}"></script>
    <script src="../../../static/js/biblioteca/emprestimo/edit.js" th:src="@{/js/biblioteca/emprestimo/edit.js}"></script>

</body>

</html>