<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Listar Funcionários</title>

    <link href="../../../static/css/3rd/bootstrap.min.css" th:href="@{/css/3rd/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../../../static/css/geral/footer.css" th:href="@{/css/geral/footer.css}" rel="stylesheet" media="screen" />
    <link href="../../../static/css/geral/button.css" th:href="@{/css/geral/button.css}" rel="stylesheet" media="screen" />

</head>

<body>
    <div th:replace="~{ layout/navbar :: navbar}"></div>
    <div class="container mt-5">
        <h2>Listagem de Empréstimos</h2>
        <p></p>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <th>Id</th>
                        <th>Cliente</th>
                        <th>Livro - Autor</th>
                        <th>Prazo - Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light" th:each="emprestimo : ${emprestimos}">
                        <td class="col-md-1"><span th:text="${emprestimo.id}">1</span></td>
                        <td class="col-md-4"><span th:text="${emprestimo.nome}">Exemplo de Cliente</span></td>
                        <td class="col-md-4"><span th:text="${emprestimo.titulo} + ' - ' + ${emprestimo.autor}">Exemplo de Livro - Exemplo de Autor</span></td>
                        <td><span th:utext="${emprestimo.prazo()}">40 dias</span></td>
                        <td>
                            <a class="btn btn-info btn-sm btn-table" title="Ver emprestimo" href="get.html" th:href="@{emprestimo/{id}(id=${emprestimo.id})}">
                                Ver
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{ layout/paginacao :: paginacao}"></div>

    <div th:replace="~{ layout/footer :: footer}"></div>

    <script src="../../../static/js/3rd/popper.min.js" th:src="@{/js/3rd/popper.min.js}"></script>
    <script src="../../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>

</body>

</html>