.select2-container--default .select2-selection--single {
  background-color: #f7f7f9;
  border: none;
  border-radius: 0px;
  padding: 10px 0 36px 14px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #55595c;
}
