<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Visualizar Autor(a)</title>

    <link href="../../../static/css/3rd/bootstrap.min.css" th:href="@{/css/3rd/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../../../static/css/geral/button.css" th:href="@{/css/geral/button.css}" rel="stylesheet" media="screen" />
    <link href="../../../static/css/geral/footer.css" th:href="@{/css/geral/footer.css}" rel="stylesheet" media="screen" />

</head>

<body>
    <div th:replace="~{ layout/navbar :: navbar}"></div>
    <div class="container mt-5">
        <h2>Visualizar Autor(a)</h2>
        <p></p>
        <form class="container">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label fw-bold" for="nome">Nome:</label>
                <div class="col-sm-5">
                    <input class="form-control-plaintext" type="text" id="nome" name="nome" th:value="${autor.nome}" readonly>
                </div>
                <label class="col-sm-2 col-form-label fw-bold" for="pseudonimo">Pseudônimo:</label>
                <div class="col-sm-3">
                    <input class="form-control-plaintext" type="text" id="pseudonimo" name="pseudonimo" 
                    th:value="${autor.pseudonimo?:'Não possui'}" readonly>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label fw-bold" for="dataNascimento">Data Nascimento:</label>
                <div class="col-sm-10">
                    <input class="form-control-plaintext dataInverter" type="text" id="dataNascimento" name="dataNascimento" th:value="${autor.dataNascimento}" readonly>
                </div>
            </div>

            <hr class="mt-4">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label fw-bold" for="biografia">Biografia:</label>
                <div class="col-sm-10">
                    <textarea class="form-control-plaintext auto-resize" rows="5" id="biografia" th:text="${autor.biografia}" readonly></textarea>
                </div>
            </div>
        </form>
        <div class="mb-3 text-end">
            <a type="submit" class="btn btn-primary m-2 radius" title="Editar autor" href="edit.html" th:href="@{/autor/{id}/edit(id=${autor.id})}">Editar</a>
            <a class="voltar btn btn-secondary m-2 radius" href="#" title="Voltar a listagem de autors" th:href="@{/autor}">Voltar</a>
        </div>
    </div>

    <div th:replace="~{ layout/footer :: footer}"></div>

    <script src="../../../static/js/3rd/popper.min.js" th:src="@{/js/3rd/popper.min.js}"></script>
    <script src="../../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>

</body>

</html>