<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link href="../../../static/css/3rd/bootstrap.min.css" th:href="@{/css/3rd/bootstrap.min.css}" rel="stylesheet" media="screen" />
</head>
<body class="d-flex align-items-center" style="min-height: 100vh;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Cadastrar</h2>
            <form th:action="@{/cadastro}" method="post" th:object="${user}">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input name="cpf" type="text" class="form-control" placeholder="CPF" required>
                </div>
                <div class="form-group">
                    <input name="dataNascimento" type="date" class="form-control" placeholder="Data de Nascimento" required>
                </div>
                <div class="form-group">
                    <input name="sexo" type="text" class="form-control" placeholder="Sexo" required>
                </div>
                <div class="form-group">
                    <input name="endereco" type="text" class="form-control" placeholder="Endereço" required>
                </div>
                <div class="form-group">
                    <input name="telefone" type="text" class="form-control" placeholder="Telefone" required>
                </div>
                <div class="form-group">
                    <input name="email" type="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="mt-4 d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary m-2" value="Cadastrar">
                    <a class="btn btn-primary m-2 " href="login.html" th:href="@{/login}">voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>
</body>
</html>
