<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Editora</title>

    <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />

</head>

<body>
    <div th:replace="~{ layout/navbar :: navbar}"></div>

    <div class="container mt-5">
        <h2 th:text="${(editora.id == null) ? 'Cadastrar Editora' : 'Editar Editora'}" class="mb-4">Cadastro de Editora</h2>

        <form method="post" th:action="@{/editora/new}">

            <input type="hidden" name="id" th:value="${editora.id}">

            <div class="form-group">
                <label class="fw-bold" for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" th:value="${editora.nome}" class="form-control" placeholder="Editora..." required>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="cnpj" placeholder="99.999.999/9999-99" maxlength="18" th:value="${editora.cnpj}" class="form-control" required>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="endereco">Endereço Completo (Rua/Avenida, Nº - Bairro - Cidade/UF):</label>
                <input type="text" id="endereco" name="endereco" th:value="${editora.endereco}" class="form-control" placeholder="Endereço..." required>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" placeholder="(99) 9999-9999" maxlength="15" th:value="${editora.telefone}" class="form-control" required>
            </div>
            <div class="form-group mt-2">
                <label class="fw-bold" for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="4" th:text="${editora.descricao}" class="form-control" placeholder="Digite uma descrição da editora..." required></textarea>
            </div>

            <div class="form-group mt-3 d-flex justify-content-end ">
                <input type="submit" value="Salvar" class="btn btn-primary m-2 radius">
                <input th:if="${editora.id == null}" type="reset" value="Limpar" class="btn btn-dark m-2 radius">
                <a class="btn btn-secondary m-2 radius" href="list.html" title="Cancelar cadastro" th:href="${editora.id != null} ? @{/editora/{id}(id=${editora.id})} : @{/editora}">Cancelar</a>
            </div>
        </form>
    </div>

    <div th:replace="~{ layout/footer :: footer}"></div>

    <script type="module" src="../../../static/js/script.js" th:src="@{/js/script.js}"></script>
    <script src="../../../static/js/biblioteca/editora/edit.js" th:src="@{/js/biblioteca/editora/edit.js}"></script>

</body>

</html>