<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Editora</title>
    
    <link href="../../static/css/3rd/bootstrap.min.css" th:href="@{/css/3rd/bootstrap.min.css}" rel="stylesheet" media="screen" />
    
    
</head>
<body>
    <div th:replace="~{ layout/navbar :: navbar}"></div>

    <h1 th:text="${(editora.id == null) ? 'Cadastrar Editora' : 'Editar Editora'}">Cadastro de Editora</h1>

    <form method="post" th:action="@{/editora/new}">

        <input type="hidden" name="id" th:value="${editora.id}">

        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:value="${editora.nome}" placeholder="Editora..." required>
        </div>
        <div>
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" th:value="${editora.endereco}" placeholder="Endereço..." required>
        </div>
        <div>
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" name="cnpj" placeholder="99.999.999/9999-99" maxlength="18" th:value="${editora.cnpj}" required>
        </div>
        <div>
            <label for="nome">Telefone:</label>
            <input type="text" id="telefone" name="telefone" placeholder="(99) 9999-9999" maxlength="15" th:value="${editora.telefone}" required>
        </div>
        <div>
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" rows="4" th:value="${editora.descricao}" placeholder="Digite uma descrição da editora..." required></textarea>
        </div>
        <div>
            <input type="submit" value="Salvar">
            <input type="reset" value="Cancelar">
        </div>
    </form>

<script src="../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>
<script src="../../static/js/editora/mascaraInput.js" th:src="@{/js/editora/mascaraInput.js}"></script>

</body>
</html>