<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Listar Livros</title>

    <link href="../../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <link href="../../../static/css/geral/table.css" th:href="@{/css/geral/table.css}" rel="stylesheet" media="screen" />

</head>

<body>
    <div th:replace="~{ layout/navbar :: navbar}"></div>
    <div class="container mt-5">
        <h2>Listagem de Livros</h2>
        <p></p>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">
                        <th scope="col">Título</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Quantidade Disponível</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light" th:each="livro : ${livros}">
                        <td><span th:text="${livro.titulo}">Exemplo de título</span></td>
                        <td><span th:text="${livro.nome}">Exemplo de Autor</span></td>
                        <td class="text-center"><span th:text="${livro.quantidade}">10</span></td>
                        <td>
                            <a class="btn btn-info btn-sm" title="Ver livro" href="get.html" th:href="@{livro/{id}(id=${livro.id})}">
                                Ver
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{ layout/paginacao :: paginacao}"></div>
    <div th:replace="~{ layout/footer :: footer}"></div>

    <script type="module" src="../../../static/js/script.js" th:src="@{/js/script.js}"></script>

</body>

</html>